.accordion-paragraph {
  margin-bottom: 1rem;
}

.p {
  margin-bottom: 1rem;
}

.accordion-header span {
  transition: color 0.3s;
}

.accordion-item.open .accordion-header span {
  color: #ff6865;
}


@media (max-width: 768px) {
  .accordion-item.open .accordion-header span {
    color: #ff6865;
    border-radius: 2rem;
    margin-bottom: -1rem;
  }
  .accordion-paragraph {
    margin-bottom: 0rem;
  }
}

@media (max-width: 480px) {
  .accordion-item.open .accordion-header span {
    color: #ff6865;
    border-radius: 2rem;
  }
}
