.footer-container {
  background-color: #27b2ed; /* Blue background color */
  text-align: center;
  padding: .4rem; /* Space around the text */
  width: 100vw;
}

.footer-title {
  font-size: .7rem;
  font-weight: bold;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}
